extends layout

block content 
  .container
    .h1.text-center= title   
    .row.pading
      .col-lg-12
        .col-lg-4                       
        .col-lg-4          
          p Conestoga book store was founded in 2010.We have many variety of books including novels,story books,comics and many more.
        .col-lg-4                 
