doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') 
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="/build/main.js")
    script(src="/build/polyfills.js")
    script(src="/build/runtime.js")
    script(src="/build/style.js")
    script(src="/build/vendor.js")    
